@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  /* -webkit-transition: all 0.3s ease-in-out; */
  /* transition: all 0.3s ease-in-out; */
}

.x:nth-child(1) {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transform: translateY(8px) rotate(45deg);
}

.x:nth-child(2) {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transform: translateY(0px) rotate(-45deg);
}
